MYSQL_ROOT_PASSWORD=change-this-root-password
DB_USERNAME=pork_user
DB_PASSWORD=123456
REDIS_PASSWORD=change-this-redis-password
REDIS_DATABASE=0
NACOS_NAMESPACE=
RABBITMQ_USERNAME=pork
RABBITMQ_PASSWORD=change-this-rabbit-password
JWT_SECRET=replace-with-at-least-32-random-characters
BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_PASSWORD=ChangeMe123!
FILE_STORAGE_PATH=./data/trace-files
SLAUGHTERHOUSE_NAME=默认定点屠宰场
